* {
  box-sizing: border-box;
  border-width: 0;
  border-color: #fff;
  color: aliceblue;
  text-decoration: none;
}
.item {
  opacity: 0;
  transform: translateY(20px);
  animation: aparecer 0.8s ease forwards;
}
.item:nth-child(1) {
  animation-delay: 0.2s;
}
.item:nth-child(2) {
  animation-delay: 0.4s;
}
.item:nth-child(3) {
  animation-delay: 0.6s;
}
.item:nth-child(4) {
  animation-delay: 0.8s;
}
.item:nth-child(5) {
  animation-delay: 1s;
}
@keyframes aparecer {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
body {
  background: #0f0f0f;
  font-family: "Roboto";
}
nav {
  padding: 2rem;
  width: 100%;
  display: grid;
  grid-template-columns: auto max-content;
  box-sizing: border-box;
  justify-content: end;
}
.logo {
  top: 0;
  padding: 2rem;
  position: fixed;
  left: 0;
}
hr {
  height: 0;
  color: inherit;
  max-width: 20%;
  border-top-width: 2px;
  border-color: #bbb;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.logo svg {
  max-height: 50px;
  max-width: 50px;
}
.right-items a {
  padding-left: 1rem;
}
.right-items a:hover {
  text-decoration: underline;
}
.right-items-mobile{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.right-items-mobile a{
  padding: 5px;
}
.title {
  padding-top: 2.5rem;
}
.content {
  margin: 0 auto;
  max-width: 90%;
  padding-right: 2%;
  line-height: 1.7;
  font-size: 1rem;
}
.item {
  color: #bbb;
}
h1 {
  font-size: 2.25em;
  margin-bottom: 0;
}
h2 {
  margin-top: 0;
  font-size: 1.25em;
  color: #e2e2e2;
}
h3 {
  color: #bbb;
}
.sidepanel {
  position: fixed;
  bottom: 0;
  left: 20px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-left: 2rem;
  align-items: center;
}
.sidepanel-right {
  width: 20px;
  position: fixed;
  bottom: 0;
  left: auto;
  right: 20px;
  z-index: 10;
}
.sidepanel-right-panel {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
}
.sidepanel-right:hover {
  text-decoration: underline;
}
.sidemail {
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}
.vertical-line {
  width: 3px;
  height: 60px;
  background: rgb(255 255 255 / 0.7);
  margin-top: 15px;
  border-radius: 2px;
  transition: height 0.3s ease;
  left: 54px;
}
.separator-line {
  align-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 20%;
  height: 2px !important;
  background: rgb(255 255 255 / 0.7);
}
@media (min-width: 768px) {
  .content {
    padding-left: 10%;
    padding-right: 10%;
    max-width: 65%;
  }
  .options {
    max-width: 100%;
  }
  .right-items-mobile{
    display: none;
  }
  .menu{
    display: none;
  }
}
@media (max-width: 768px) {
  .right-items{
    display: none;
  }
  .sidepanel {
    display: none;
  }
  .sidepanel-right {
    display: none;
  }
  .logo {
    transition: transform 0.3s ease-in-out;
  }
  .logo.hide {
    transform: translateY(-100%);
  }
}
@media (max-width: 1200px) {
  .options {
    display: grid !important;
    min-height: 420px !important;
  }
}
.s0 {
  stroke: #fafdfd;
  stroke-width: 3;
  fill: #fafdfd;
  stroke-dasharray: 1800;
  stroke-dashoffset: 0;
  animation: show 5s ease-in-out infinite;
}
@keyframes show {
  0% {
    fill: #fff0;
    stroke-dashoffset: 1800;
  }
  100% {
    fill: #fafdfd;
    stroke-dashoffset: 0;
  }
}
.relic:hover {
  cursor: url(../relic.png), auto !important;
}
::-webkit-scrollbar {
  max-width: 5px;
  height: 3rem;
}
::-webkit-scrollbar-track {
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.options {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  min-height: 250px;
  max-height: 450px;
}
.option:hover {
  filter: grayscale(0%);
}
.option {
  cursor: pointer;
  line-height: 1;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
  position: relative;
  overflow: hidden;
  min-width: 60px;
  margin: 10px;
  background: var(--optionBackground, var(--defaultBackground, #e6e9ed));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  &.active {
    filter: grayscale(0%);
    flex-grow: 10000;
    transform: scale(1);
    max-width: 600px;
    margin: 0;
    border-radius: 2px;
    background-size: cover;
    .shadow {
      box-shadow: inset 0 -120px 120px -120px black,
        inset 0 -120px 120px -100px #000;
    }
    .label {
      bottom: 20px;
      left: 10px;
      .info > div {
        left: 0;
        opacity: 1;
      }
    }
  }
  &:not(.active) {
    flex-grow: 1;
    border-radius: 2px;
    .shadow {
      bottom: -40px;
      box-shadow: inset 0 -120px 0 -120px black, inset 0 -120px 0 -100px #000;
    }
    .label {
      bottom: 10px;
      left: 10px;
      .info > div {
        left: 20px;
        opacity: 0;
      }
    }
  }
  .shadow {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 120px;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  }
  .label {
    display: flex;
    position: absolute;
    right: 0;
    height: 40px;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
    .icon {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      min-width: 40px;
      max-width: 40px;
      height: 40px;
      border-radius: 100%;
      background-color: #fff;
    }
    .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-overflow: clip;
      margin-left: 10px;
      color: #000;
      > div {
        position: relative;
        transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95),
          opacity 0.5s ease-out;
      }
      .main {
        font-weight: 700;
        font-size: 1.2rem;
      }
      .sub {
        transition-delay: 0.1s;
        margin-bottom: 5%;
        margin-right: 5%;
      }
    }
  }
}
.itemframed {
  white-space: nowrap;
  cursor: crosshair;
  background: #8882;
  border-radius: 2px;
  padding: 2px;
  padding-left: 4px;
  margin: 2px;
  padding-right: 4px;
  color: #bbb;
}
.cv {
  cursor: pointer;
}

.cert-cont {
  padding: 5px;
  width: 100%;
  min-height: 150px;
}

.cert-items-container {
  display: flex;
  transition: transform 0.3s ease;
  width: 100%;
}

.cert-item {
  min-width: 100%;
  border-radius: 10px;
  display: none;
}

.cert-item.active {
  display: block;
}

.cert-wrp {
  position: relative;
  border-radius: 10px;
  width: 100%;
}

.cert-btns{
  height: fit-content;
}


.cert-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1rem;
  z-index: 10;
  cursor: pointer;
}

.cert-btn.prev {
  left: 10px;
}

.cert-btn.next {
  right: 10px;
}

.ruler{
  width: 30px;
  height: 3px;
  background-color: #bbb;
  border-radius: 2px;
  position: absolute;
  top: 50%;
}

.cert-desc{
  margin-top: 5px;
  margin-bottom: 5px;
  color: #bbb;
}
